[Unit]
Description=The http-rmq proxy server for Applicare
After=netwrok.target node_server.service
BindsTo=node_server.service

[Service]
Environment=rmq_passwd="RBMQ"
Type=simple
User=root
WorkingDirectory=/root/Capstone-Group-09/frontend/
ExecStart=/usr/bin/node middleware.js
# ExecStop=
# ExecReload=
Restart=on-failure
# Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
