[Unit]
Description=The React (Node) server for Applicare's frontend
After=network.target

[Service]
Environment=PORT=7012
# TODO: Add secrets / other variables needed by node/react
Type=simple
User=root
# Group=nogroup
WorkingDirectory=/root/Capstone-Group-09/frontend/
ExecStart=/bin/npm start
# ExecStop=
# ExecReload=
Restart=on-failure
# Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
