[Unit]
Description=frontend.js - the React Node server for Applicare's frontend
After=network.target

[Service]
Environment=NODE_PORT=3001
# TODO: Add secrets / other variables needed by node/react
Type=simple
User=nouser
# don't use root, might be: `nobody'?
Group=nogroup
# also might be `nobody'?
WorkingDirectory=/root/Capstone-Group-09/frontend/
ExecStart=/usr/bin/node /root/Capstone-Group-09/frontend/frontend.js
# ExecStop=
# ExecReload=
Restart=on-failure
# Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target
