[Unit]
Description=The Python backend for Applicare
After=network.target

[Service]
Environment=rmq_ip="100.118.142.26"
Environment=rmq_passwd="RBMQ"
Environment=PYTHONUNBUFFERED=1
Type=simple
User=root
WorkingDirectory=/root/Capstone-Group-09/backend/
ExecStart=/usr/bin/python3 backend.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
