/* Common CSS */
.email-3 {
    gap: var(--space-sm); display: flex;
    flex-direction: column;
}
    
.email {
    padding-left: 24px;
    padding-right: 24px;
    height: 56px;
    border-radius: 12px !important;
    border: 1px solid var(--gray_700_59) !important; 
    @media only screen and (max-width: 550px) {
        padding-left: var(--space-5xl); 
        padding-right: var(--space-5xl);
    }
}
    
.otherissue {
    color: var(--gray_900_02) !important;
    text-decoration: underline;
}
    
.divider_one {
    height: 2px; 
    margin-top: 14px;
    background-color: var(--gray_700_3f);
    flex: 1;
    @media only screen and (max-width: 1050px) { 
        align-self: stretch;
    }
}

.loginbox { 
    margin-top: 26px;
    gap: var(--space-7xl); 
    display: flex; 
    width: 44%;
    flex-direction: column;
    margin-left: 500px;
    @media only screen and (max-width: 1050px) { 
        width: 100%;
        padding-left: var(--space-5xl); 
        padding-right: var(--space-5xl);
    }    
}
    
.login {
    gap: var(--space-10xl);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: var(--space-9xl); 
    border-radius: var(--radius-3xl);
    border: 1px solid var(--gray_700_7f); 
    @media only screen and (max-width: 550px) { 
        padding: var(--space-5xl);
    }
}
    
.columnotherissu {
    gap: var(--space-10xl);
    display: flex;
    width: 94%;
    flex-direction: column;
    @media only screen and (max-width: 1050px) {
    width: 100%;
    }
}
    
.columnlabel { 
    gap: 24px;
    display: flex;
    flex-direction: column;
}
    
.rowlabel {
    display: flex;
}


.columnlog_in {
    gap: var(--space-3xl);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bycreatingan {
    color: var(--gray_700) !important;
    margin-bottom: 8px;
    display: flex;
}

.rowotherissue {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: var(--space-5xl);
}

.divider {
    gap: var(--space-6xl);
    display: flex;
    justify-content: center;
    align-items: start;
    @media only screen and (max-width: 1050px) { 
        flex-direction: column;
    }
}

.or {
    color: var(--gray_700) !important;
    font-family: Avenir !important;
    align-self: center;
}

.create_an {
    color: var(--gray_900_02) !important; 
    padding-left: 33px;
    padding-right: 33px; 
    font-size: 20px;
    align-self: stretch;
    height: 64px;
    border-radius: 32px !important;
    border: 1px solid var(--gray_900_02) !important; 
    @media only screen and (max-width: 550px) {
        padding-left: var(--space-5xl);
        padding-right: var(--space-5xl);
    }
}
    
.footer-4 {
    margin-top: 44px;
    display: flex;
    background-color: var(--neutral_white);
    align-self: stretch;
    justify-content: center;
    align-items: center;
    padding: var(--space-3xl);
    border-top: 1px solid var(--gray_700_3f);
}

.forgot-password-button {
    text-decoration: underline;
    cursor: pointer;
    padding-top: 10px;
}
