/* Common CSS */

.userprofile-5 {
    height: 340px;
    width: 100%;
    position: relative;
}

.createfrom_one {
    height: 340px;
    background-color: var(--neutral_white);
    box-shadow: var(--shadow-md);
    width: 100%;
    position: absolute;
    left: 0px;
    bottom: 0px;
    top: 0px;
    margin-top: auto;
    margin-bottom: auto;
    border-radius: var(--radius-lg);
}

.description-3 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    margin: auto auto auto 8px;

    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
}

.image-1 {
    height: 236px;
    background-size: cover;
    background-repeat: no-repeat;
    align-self: stretch;
    position: relative;
    align-content: center;
    border-radius: var(--radius-sm);

    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.washers_one {
    height: 236px;
    flex: 1;
    object-fit: contain;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: var(--radius-sm);
}

.columnbookmark {
    padding-left: var(--space-xl);
    padding-right: var(--space-xl);
    gap: var(--space-14xl);
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    position: absolute;
    left: 0px;
    bottom: 0px;
    right: 0px;
    top: 0px;
    height: max-content;
    margin: auto;

    @media only screen and (max-width: 1050px) {
        gap: 84px;
    }

    @media only screen and (max-width: 550px) {
        gap: 56px;
    }
}

.iconbutton {
    opacity: 0.5;
    align-self: end;
    background-color: var(--black_0);
    width: 12%;
    display: flex;
    padding: var(--space-md);
    border-radius: var(--radius-sm);

    @media only screen and (max-width: 1050px) {
        width: 100%;
    }
}

.bookmark_one {
    height: 20px;
    width: 20px;
    margin-left: 11px;
    cursor: pointer;
}

.fortyeight {
    color: var(--black_1) !important;
    margin-left: 8px;
    padding-left: var(--space-4xl);
    padding-right:
        var(--space-4xl);
    letter-spacing: 0.4px;
    font-family: Work Sans;
    font-size: 14px;
    font-weight: 500;
    background-color: var(--outline) !important;
    height: 44px;
    min-width: 58px;
    border-radius: 8px !important;

    @media only screen and (max-width: 1050px) {
        margin-left: 0px;
    }
}

.washers {
    margin-top: 10px;
    letter-spacing: 0.16px;
}

.description-9 {
    color: var(--grey) !important;
    letter-spacing: 0.16px;
    font-weight: 400 !important;
    line-height: 24px;
}



/* Page CSS */

.inputsearch {
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    align-self: stretch;
    position: relative;
    display: flex;
    max-width: 1072px;
    width: 100%;

    @media only screen and (max-width: 1050px) {
        padding-left: var(--space-5xl);
        padding-right: var(--space-5xl);
    }
}

.fieldcontent {
    margin-bottom: 22px;
    background-color: var(--neutral_white);
    width: 100%;
    display: flex;
    border-radius: var(--radius-xs);
    border: 1px solid var(--blue_gray_300_7f);
}

.rowwhatservices {
    flex: 1;
    display: flex;
    padding: var(--space-md) var(--space-2xl)
}

.whatservicesare {
    color: var(--blue_gray_300) !important;
    font-family: Inter !important;
    font-weight: 500 !important;
}

.suffix {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
    border-top-right-radius: var(--radius-xs);
    border-bottom-right-radius: var(--radius-xs);
    background-color: var(--background_color_background);
    width: 3%;
    border-left: 1px solid var(--gray_300);
}

.icon {
    padding-top: var(--space-lg);
    padding-bottom: var(--space-lg);
}

.icon_one {
    height: 20px;
    width: 100%;
    padding-top: 5px;

    @media only screen and (max-width: 1050px) {
        height: auto;
    }
}

.userprofile-4 {
    margin-top: 52px;
    margin-left: auto;
    margin-right: auto;
    align-self: stretch;
    display: block;
    gap: 86px;
    grid-template-columns: repeat (3, minmax(0, 1fr));
    justify-content: center;
    max-width: 1296px;
    width: 100%;
    @media only screen and (max-width: 1050px) {
        grid-template-columns: repeat (2, minmax(0, 1fr));
        padding-left: var(--space-5xl);
        padding-right: var(--space-5xl);
    }
    @media only screen and (max-width: 550px) {
        grid-template-columns: repeat (1, minmax(0, 1fr));
    }
}
